body {
  padding: 50px;
}

a {
  color: #00B7FF;
}
.card{
	margin:10px;
}

#addClimberForm{
	display: none;
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { ... }
